*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

@import url("https://fonts.googleapis.com/css?family=BenchNine|Pragati+Narrow");
@import url('https://fonts.googleapis.com/css?family=Anton');
body {
	font-family:arial, helvetica, sans-serif;
	font-size: 20px;
	display: block;
}
h1 {
	font-family: 'Anton';
	font-size: 150px;
	text-align: left;
	color: white;
	padding-top: 60px;
	padding-left: 20px;
}
h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 35px;
	text-align: right;
	line-height: 6em;
	color: orange;
}

h2:hover {
	color: black;
}
h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	text-align: center;
	color: blue;
}
p {
	font-family: georgia, serif;
	font-size: 20px;
	font-weight: normal;
	text-align: justify;
	color: white;
	line-height: 1.5em;
}
nav{
	font-size: 2em;
	padding: .5em;
}
a {
	color: black;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin: 58px;
}
#intro {
	background: url('../images/hero.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	padding-top: 50px;
}
#daily{
	color: white;
	font-family: 'Anton';
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	text-transform: lowercase;
	margin: 0;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#invitacion {
	color: white;
	font-family: 'Anton';
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: lowercase;
}
#top {
	font-family: 'Anton';
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin: auto;
	padding: 0 .5em 0 .5em;
}
#top a {
	display: block;
	width: 20%;
	text-align:center;
	padding: 10px;
	border: 1px solid transparent;
	float: left;
	margin: 0;
}
#top a:hover{
	border-color:blue;
}
#bits{
	background: white;
	width: 100%;
	max-width: 1000px;
	padding: .5em 0 .5em 0;
	margin: 0 auto;
	line-height: 2em;
}
#ocho{
	font-size: 60px;
	color: black;
	text-align: left;
	padding: .5em 0em 0 2em;
}
#pbits {
	font-family: georgia, serif;
	font-size: 40px;
	text-align: left;
	font-weight: bold;
	line-height: 1.5em;
	margin: 1em;
	padding: .5em 10em 0 1.5em;
	color: black;
	
}
.news{
	font-family: georgia, serif;
	font-size: 20px;
	line-height: 1.4em;
	margin: 1em;
	padding: 10px;
	color: black;	
}
#somos {
	background: url('../images/us.jpeg');
	background-size: cover;
	height: 900px;
	width: 100%;
}
#nombres {
	background: none;
	font-family:'Anton';
	font-size:30px;
	font-weight: bold;
	text-align: center;
}
#quien {
	text-align: center;
}
#twho_column {
	background-color: black;
	border: 1px black solid;
	padding: 20px;
	margin: auto;
}
#left {
	background-color: white;
	padding: 20px;
	border: 1px;
	width: 50%;
	float: left;
}
.bienvenido{
	font-size: 15px;
	color: black;
	font-weight: normal;
	padding: 2em 2em 2em 2em;
}
#right {
	background-color: white;
	border: 1px;
	width: 50%;
	float: left;
	vertical-align: top;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#sv{
	font-size: 40px
	text-align: center;
	color: black;
	padding: 2em .5em 0 1.5em;
}
#globales {
	background: url(https://s-media-cache-ak0.pinimg.com/originals/f6/11/98/f611988fd5635e197c64940075ecb558.jpg);
	background-size: cover;
	padding: 10em;
	margin: auto;
}
#city {
	background: none;
	font-family:'Anton';
	font-size:20px;
	font-weight: bold;
	text-align: center;
	text-transform: lowercase;
}
#saber {
	background: white;
	background-size: cover;
	padding: 6em;
}
#contacto {
	color: black;
	font-family:'Anton';
	font-size:30px;
	font-weight: bold;
	text-align: center;
	text-transform: lowercase;
}
footer {
	background: pink;
	background-size: cover;
}
#social {
	color: blue;
	font-family:'Anton';
	font-size:30px;
	font-weight: bold;
	text-align: center;
	text-transform: lowercase;
	padding: .5em;
}
#inc {
	color: black;
	font-family:'Anton';
	font-size:15px;
	font-weight: normal;
	text-align: center;
	text-transform: lowercase;
}

.blue-border{
	border: 2px solid blue;
}

#purple{
	color: purple;
}

.medium-img {
	width: 100%;
	display: block;
}
.small-img{
	width: 50%;
	float: left;
	display: block;
}