body{
	font-size: 20px;
	font-family:arial, helvetica, sans-serif;
}

*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
hr{
	width: 200px;
}
h1 {
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	text-transform: lowercase;
	color: green;
	padding-top: 1em;
	padding-right: 1em;
}
h2 {
	background: #333;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #CB5900;
	margin: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
}
h3 {
	background: #333;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: #CB5900;
	margin: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.wrapper{
	width: 960px;
	margin: auto;
}
.important{
	font-size: 30px;
	text-align: center;
	color: #127F8B;
}
.info{
	background: #333;
	font-size: 1.5em;
	font-weight: 400;
	text-align: justify;
	color: #CB5900;
	margin: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.contacto{
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: #CB5900;
}
span{
	font-variant: small-caps;
	font-family: Tahoma, sans-serif;
	letter-spacing: .25em;
	background: rgba(100, 150, 150, .5);
	color: white;
}
.queremos{
	color: red;
}
.social{
	background-color: #cccccc;
	font-size: 18px;
	text-align: center;
	color: green;
	margin-right: 20px;
}
ul {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: black;
}
img {
	width: 100%;	
	
}
footer{
	text-align: center;
	padding: 1em 0;
}
#Intro {
	background:url(https://c1.staticflickr.com/6/5821/22669768662_813c76c4ed_b.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	font-size: 70px;
	font-weight: bold;
	height: 85vh;
	padding: 1em 0 0;
}
#Somos {
	background:url(https://s-media-cache-ak0.pinimg.com/originals/f6/11/98/f611988fd5635e197c64940075ecb558.jpg);
	background-size:cover;
}
