body{
	font-size: 20px;
}

*{
	padding: 0;
	margin: 0;
}
hr{
	width: 200px;
}
h1 {
	font-family: arial;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	text-transform: lowercase;
	color: green;
	padding-top: 1em;
	padding-right: 1em;
}
h2 {
	background: #333;
	font-family: arial;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #CB5900;
	margin: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
}
h3 {
	background: #333;
	font-family: arial;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: #CB5900;
	margin: 4em;
	padding-top: 1em;
	padding-bottom: 1em;
}
header  {
	font-size: 70px;
	font-family: arial;
	font-weight: bold;
	text-align: left;
	color: black;
}
#wrapper{
	background: #660033;
	width: 960px;
	margin: auto;
}
.important{
	font-size: 30px;
	text-align: center;
	color: #127F8B;
}
.info{
	background: #333;
	font-family: Arial;
	font-size: 1.5em;
	weight: 35	em;
	text-align: justify;
	color: #CB5900;
	margin: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.contacto{
	font-family: arial;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: #CB5900;
}
span{
	font-variant: small-caps;
	font-family: Tahoma, sans-serif;
	letter-spacing: .25m;
	background: rgba();(100, 150, 150, .5);
	color: white;
}
.queremos{
	color: red;
}
.social{
	background-color: #cccccc;
	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
	color: green;
	margin-right: 20px;
}
ul {
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: black;
}
img {
	width: 100%;	
	
}
footer{
	text-align: center;
	padding: 1em 0;
}