body{
background: url("http://wallpapercave.com/wp/1lS7grH.jpg");
background-size: cover;
}
hr{
	width: 300px;
}
h1{
	color: white;
	font-family: "Franklin Gothic Medium, sans-serif", sans-serif;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-family: Helvetica;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	text-decoration: underline;
	color: #127F8B;
}
h3{
	font-family: Helvetica;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #CB5900;
}
p{
	font-family: "Arial", monospace;
	font-family: normal;
	font-size: 16px;
	text-align:justify;
}
.important{
	font-size: 60px;
	text-align: center;
}
.bits{
font-size: 30px;
text-align: center;
}
a{
	font-style: italic;
	text-decoration: none;
}
ul {
	color: #CB5900;
	text-align: justify;
	font-family: helvetica;
	font-size: 30px;
}